body {
   -webkit-touch-callout: none; /* iOS Safari */
     -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
         -ms-user-select: none; /* Internet Explorer/Edge */
             user-select: none; /* Non-prefixed version, currently
                                   supported by Chrome and Opera */
}

canvas {
    position: absolute;
    top:0px;
    left:0px;
    z-index: -1;
}


#brush-menu {
    width: 30px;
    border: 3px solid #000;
    border-radius: 5px;
    padding: 5px;
    background-color: #ccc;
    margin:10px;
}

.brush-icon {
    width: 100%;
    border: 3px inset #000000;
    box-sizing: border-box;
    padding: 2px;
    cursor: pointer;
}

.brush-icon:hover {
    background-color: #ff00ff;
}


#filters {
    border: 3px solid #000;
    border-radius: 5px;
    padding: 5px;
    background-color: #ccc;
    margin: 10px;
}

.filter-item {
    margin: 10px;
    cursor: pointer;
}

.filter-item:hover {
    color:#ff00ff;
}

#sonifymenu {
  border: 3px solid #000;
  display:none;
  width:70px;
  height:105px;
  background-color: #cef;
  border-radius: 15px;
  padding: 5px;
  margin: 10px;

}
#sonifymenu > img {
  width: 32px;
  cursor:pointer;
}
#sonifyslider {
    width: 50%; /* Width of the outside container */
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
}

/* labels for noise brush sliders */
.label-section {
    position:absolute;
    left:245px;
    top:183px;
}

.slider-label {
    padding-bottom:6px;
}
